<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/@bpmn-io/form-js@1.12.0/dist/assets/form-js.css">
    <style>
        /* Overall scaling of the form */
        #form {
            transform: scale(3);
            transform-origin: top left;
            width: calc(100% / 3);
        }

        /* Allow labels to wrap */
        .fjs-container .fjs-form-field-label {
            white-space: normal !important; /* Allow labels to wrap */
            overflow: visible !important;  /* Prevent clipping */
            text-overflow: unset !important; /* No ellipsis */
            width: auto !important; /* Use content's natural width */
        }

        /* Eligibility results smaller than the screening questions */
        .fjs-container .fjs-form-field-group[aria-labelledby*="Field_results"] {
            transform: scale(0.4);
            transform-origin: top left;
            width: calc(100% / 0.4);
            margin-bottom: 1rem;
        }

        /* Hide the dummy field used to store the eligibility results data */
        [id*="Field_benefits-readonly"] {
            display: none;
        }

        /* Hide the BPMN.io watermark */
        .fjs-powered-by {
            display: none;
        }
    </style>
</head>

<body>
    <div id="form"></div>

    <script src="https://unpkg.com/@bpmn-io/form-js@1.12.0/dist/form-viewer.umd.js"></script>

    <script>
        let isUpdating = null;

        const container = document.querySelector('#form');

        const schemaPromise = fetch('/forms/paceScreener.form')
            .then(response => response.json())
            .then(data => {
                // console.log('Form json:', data);
                return data;
            })
            .catch(error => {
                console.error('Error loading form:', error);
            });

        const initialData = {};

        const formPromise = schemaPromise.then(schema => {
            // console.log('Form schema:', schema);
            return FormViewer.createForm({ container, schema, data: initialData });
        });

        formPromise
            .then(form => {
                form.on('submit', (event) => {
                    // will we even need/want the submit event?
                    console.log(event.data, event.errors);
                });

                // Runs whenever the form is changed
                // 500 is the priority of this listener... not sure how this works
                form.on('changed', 500, (event) => {
                    if (isUpdating) {
                        console.log('Already updating...', event.data);
                        return;
                    }

                    isUpdating = true;

                    // Hack to remove actual enrollments if "None of the above" is checked
                    if (event.data.inputs?.enrollments?.includes("none")) {
                        const enrollmentsField = form
                            .get('formFieldRegistry')
                            .getAll()
                            .find((formField) => formField.key === 'inputs.enrollments');

                        form._update({
                            fieldInstance: { id: enrollmentsField.id, valuePath: ['inputs', 'enrollments'] },
                            value: event.data.inputs.enrollments.filter(item => item === "none"),
                        });
                    }

                    const data = JSON.parse(JSON.stringify(event.data));

                    // hack to not send empty enrollments array, since the API would
                    // interpret this is as meaning there are no enrollments...
                    // (form-js always outputs an empty checkbox set as empty array)
                    if (data.inputs.enrollments?.length === 0) {
                        data.inputs.enrollments = null;
                    }

                    // combine primary/spouse + other income into gross household income
                    if (data.inputs.currentMonthlyPrimaryAndSpouseGrossIncome != null && data.inputs.currentMonthlyOtherGrossIncome != null) {
                        data.inputs.currentMonthlyGrossHouseholdIncome = data.inputs.currentMonthlyPrimaryAndSpouseGrossIncome + data.inputs.currentMonthlyOtherGrossIncome;
                    } else {
                        data.inputs.currentMonthlyGrossHouseholdIncome = null;
                    }

                    // transform inputs related to SCTF age eligibility
                    const people = []
                    people.push({
                        primary: true,
                        dateOfBirth: data.inputs.dateOfBirth,
                        married: data.inputs.married,
                        lateSpouseWasAtLeastSixtyFive: data.inputs.lateSpouseWasAtLeastSixtyFive
                    });

                    if (data.inputs.married != null && data.inputs.married) {
                        people.push({
                            primary: false,
                            married: true,
                            spouseOfPrimary: true,
                            dateOfBirth: data.inputs.spouseDateOfBirth
                        });
                    }

                    data.inputs.people = people;

                    console.log("data after pre-post transformations", data);


                    // Post the JSON data to the URL and log the response
                    fetch('/benefits/paPaceApplicationCenter', {
                        method: 'POST', // Specify the HTTP method
                        headers: {
                            'Content-Type': 'application/json' // Ensure the content type is JSON
                        },
                        body: JSON.stringify(data) // Convert the data to JSON
                    })
                        .then(response => response.json()) // Parse the JSON response
                        .then(responseData => {
                            console.log('Response:', responseData);
                            //form.setProperty("responseData", responseData); // FIXME: is this even doing anything?

                            console.log("Got to the update step");
                            const field = form
                                .get('formFieldRegistry')
                                .getAll()
                                .find((formField) => formField.key === 'benefits');

                            console.log("All fields: ", form.get('formFieldRegistry').getAll());
                            console.log("Field to update: ", field);

                            form._update({
                                fieldInstance: { id: field.id, valuePath: ['benefits'] },
                                value: responseData.benefits,
                            });

                            setTimeout(() => {
                                isUpdating = false;
                            }, 0.01);
                            //console.log('Form after updating responseData property:', form);
                            const updatedState = responseData;
                            return updatedState;
                        })
                        .then(result => {
                            console.log('Success:', result); // Log the result if successful
                        })
                        .catch(error => {
                            console.error('Error:', error); // Log any errors if the request fails
                            setTimeout(() => {
                                isUpdating = false;
                            }, 0.01);
                        });
                });
            });
    </script>
</body>

</html>